*.iml
.gradle
/local.properties
!/.idea
/.idea/*
!/.idea/codeStyles
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
proguard/
*.log
.navigation/
captures/
google-services.json
*.iws
.idea_modules/
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
